* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f2f2f2;
}

form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

input {
  margin: 10px;
  padding: 10px;
  width: 300px;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* CSS Style for the Submit Button */
button {
  margin: 10px;
  padding: 10px;
  width: 150px;
  border-radius: 5px;
  border: none;
  background-color: #4caf50;
  color: white;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* CSS Style for the Movie List */
ul {
  list-style: none;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* CSS Style for the Movie Items */
li {
  margin-top: 10px;
  padding: 10px;
  width: 300px;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  text-align: center;
}
/* CSS Style for the Remove Button */
.remove {
  background-color: #f44336;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
